<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script th:src="@{/vendor/lodash/lodash.min.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.js}"></script>
    <script th:src="@{/sheetjs/xlsx.full.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <script th:src="@{/js/dashboard.js}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0" style="height: calc(100vh - (69px + 65px));">
    <div class="card h-100">
        <div class="card-header bg-300">
            <h5 class="mb-0">관리자 리스트</h5>
        </div>
        <div class="card-body p-3">
            <div class="d-flex align-items-center justify-content-end mb-3">
                <div id="bulk-select-replace-element">
                    <a href="#" data-bs-toggle="modal" id="user-new">
                        <button class="btn btn-falcon-success btn-sm mt-1 me-1 ps-3 pe-3 border border-2" type="button">
                            <span class="fas fa-plus" data-fa-transform="shrink-3"></span><span class="ms-1">&nbsp;추가</span>
                        </button>
                    </a>
                </div>
                <div class="d-none ms-3" id="bulk-select-actions">
                    <button class="btn btn-falcon-danger btn-sm mt-1 me-1 border border-2" type="button">
                        <span class="fas fa-trash-alt" data-fa-transform="shrink-3"></span><span class="ms-1">&nbsp;삭제</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive scrollbar" style="max-height: calc(100vh - (69px + 65px + 160px));">
                <table class="table">
                    <thead class="text-black bg-200">
                    <tr>
                        <th scope="col" class="align-middle white-space-nowrap">
                            <div class="form-check mb-0 ms-1"><input class="form-check-input" type="checkbox" data-bulk-select='{"body":"bulk-select-body","actions":"bulk-select-actions","replacedElement":"bulk-select-replace-element"}' /></div>
                        </th>
                        <th class="text-center" scope="col">닉네임</th>
                        <th class="text-center" scope="col">아이디</th>
                        <th class="text-center" scope="col">권한</th>
                        <th class="text-center" scope="col">생성일</th>
                        <th class="text-center" scope="col">마지막 접속일</th>
                    </tr>
                    </thead>
                    <tbody id="bulk-select-body">
                    <tr class="align-middle">
                        <td class="align-middle white-space-nowrap">
                            <span class="fas fa-crown ms-1"></span>
                        </td>
                        <td class="text-center">Eddy</td>
                        <td class="text-center">guswns9302</td>
                        <td class="text-center">마스터</td>
                        <td class="text-center">2022-08-31</td>
                        <td class="text-center">2022-08-31</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="align-middle white-space-nowrap">
                            <div class="form-check mb-0 ms-1"><input class="form-check-input" type="checkbox" data-bulk-select-row="data-bulk-select-row"/></div>
                        </td>
                        <td class="text-center">Eddy</td>
                        <td class="text-center">guswns9302</td>
                        <td class="text-center">관리자</td>
                        <td class="text-center">2022-08-31</td>
                        <td class="text-center">2022-08-31</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>