<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script th:src="@{/vendor/lodash/lodash.min.js}"></script>
    <script th:src="@{/vendor/echarts/echarts.js}"></script>
    <script th:src="@{/sheetjs/xlsx.full.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}"/>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/vendor/countup/countUp.umd.js}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<section layout:fragment="content" class="p-0" style="height: calc(100vh - (69px + 65px));">
    <div class="card h-100">
        <div class="card-header bg-300">
            <h5 class="mb-0">스터디 관리</h5>
        </div>
        <div class="card-body p-3">
            <div class="row mb-2">
                <div class="col-9">
                    <div class="row">
                        <div class="col-6 col-md-4 col-xl text-center">
                            <span class="badge badge-soft-success me-2" style="font-size: larger">진행 중</span>
                            <span class="fs-2 fw-medium" data-countup='{"endValue":36,"suffix":"명"}'>0</span>
                        </div>
                        <div class="col-6 col-md-4 col-xl text-center">
                            <span class="badge badge-soft-info me-2" style="font-size: larger">진행 중 (주의)</span>
                            <span class="fs-2 fw-medium" data-countup='{"endValue":36,"suffix":"명"}'>0</span>
                        </div>
                        <div class="col-6 col-md-4 col-xl text-center">
                            <span class="badge badge-soft-warning me-2" style="font-size: larger">일시 정지</span>
                            <span class="fs-2 fw-medium" data-countup='{"endValue":36,"suffix":"명"}'>0</span>
                        </div>
                        <div class="col-6 col-md-4 col-xl text-center">
                            <span class="badge badge-soft-danger me-2" style="font-size: larger">영구 정지</span>
                            <span class="fs-2 fw-medium" data-countup='{"endValue":36,"suffix":"명"}'>0</span>
                        </div>
                        <div class="col-6 col-md-4 col-xl text-center">
                            <span class="badge badge-soft-secondary me-2" style="font-size: larger">종료</span>
                            <span class="fs-2 fw-medium" data-countup='{"endValue":36,"suffix":"명"}'>0</span>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="d-flex align-items-center justify-content-end">
                        <span>
                            <input class="form-control form-control-sm float-end me-3 border border-2" type="text" placeholder="스터디명으로 검색..."/>
                        </span>
                        <span>
                            <button class="btn btn-falcon-success btn-sm float-end border border-2" type="button">검색</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="table-responsive scrollbar" style="max-height: calc(100vh - (69px + 65px + 160px));">
                <table class="table">
                    <thead class="text-black bg-200">
                    <tr>
                        <th class="text-center" scope="col">스터디명</th>
                        <th class="text-center" scope="col">생성일 (D-day)</th>
                        <th class="text-center" scope="col">멤버</th>
                        <th class="text-center" scope="col">활성 상태</th>
                        <th class="text-center" scope="col">카테고리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="align-middle">
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">토익 만점 스터디</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">2022-08-30 (D+3)</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">6</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-soft-success" style="font-size: larger">진행 중</span>
                        </td>
                        <td class="text-center">어학</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">토익 만점 스터디</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">2022-08-30 (D+3)</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">6</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-soft-info" style="font-size: larger">진행 중 (주의)</span>
                        </td>
                        <td class="text-center">어학</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">토익 만점 스터디</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">2022-08-30 (D+3)</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">6</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-soft-secondary" style="font-size: larger">종료</span>
                        </td>
                        <td class="text-center">어학</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">토익 만점 스터디</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">2022-08-30 (D+3)</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">6</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-soft-warning" style="font-size: larger">일시 정지</span>
                        </td>
                        <td class="text-center">어학</td>
                    </tr>
                    <tr class="align-middle">
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">토익 만점 스터디</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">2022-08-30 (D+3)</td>
                        <td class="text-center">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="ms-2">6</div>
                                <button class="btn" type="button"><span class="fas fa-angle-right"></span></button>
                            </div>
                        </td>
                        <td class="text-center">
                            <span class="badge badge-soft-danger" style="font-size: larger">영구 정지</span>
                        </td>
                        <td class="text-center">어학</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
</body>
</html>